<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
Pagina Contact de
<a href="https://ruby.railstutorial.org">Tutorial Ruby on Rails</a>
</p>
<p>Localizado en app/views/static_pages/contact.html.erb</p>
