<% provide(:title, 'Help') %>
  <h1>Sample App | Help</h1>
  <p>
   Esta es la página Help para
   <a href="http://railstutorial.org/">Tutorial Ruby on Rails</a>
  </p>
  <p>Localizado en  app/views/static_pages/help.html.erb</p>
