<div class="center hero-unit"> 
 <h1>Welcome to the Sample App</h1>
 <h2>
  Esta es la página Home para
  <a href="http://railstutorial.org/">Tutorial Ruby on Rails</a>
  Sample Application
 </h2>
 
 <%= link_to "Sign up now!",signup_path,class:"btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png",alt:"Rails"),'http://rubyonrails.org' %>
